<mat-drawer-container class="h-full w-full bg-gray-50" autosize>
  <mat-drawer #drawer class="w-1/6 shadow-2xl bg-gray-800" mode="side">
    <div class="flex flex-col justify-center items-center my-12">
      <div class="w-24 h-24 bg-red-500 rounded-full"></div>
      <p class="text-white text-3xl mt-4">John doe</p>
    </div>
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="w-full bg-blue-100">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>

</mat-drawer-container>