<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="expand(item)"
    [ngClass]="{'expanded': expanded}" class="w-full min-w-full flex justify-between items-center text-moenn-primary-50"
    *ngIf="(item.children && item.children.length > 0);else noChildTemplate">
    <div class="flex items-center">
        <mat-icon class="route-icon text-moenn-primary-50">{{item.iconName}}</mat-icon>
        {{item.displayName}}
    </div>
    <span *ngIf="item.children && item.children.length" class="text-moenn-primary-50">
        <span></span>
        <mat-icon class="select-none" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
        </mat-icon>
    </span>
</a>
<ng-template #noChildTemplate>
    <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" [ngClass]="{'expanded': expanded}"
        class="w-full flex justify-between text-moenn-primary-50" (click)="formatUrl(item)"
        [routerLink]="['/'+ formatUrl(item)]" routerLinkActive="router-link-active" #noChildTemplate>
        <div class="flex items-center">
            <mat-icon class="route-icon text-moenn-primary-50">{{item.iconName}}</mat-icon>
            {{item.displayName}}
        </div>
    </a>
</ng-template>

<div *ngIf="expanded">
    <sk-menu-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </sk-menu-item>
</div>